.services-wrapper {
  position: relative;
  z-index: -1;
  margin-top: 2%;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.services-container {
  background-image: url("../../../../public/assets/services/services_background.jpg");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}
.services-content {
  position: absolute;
  top: 10%;
  left: 7%;
}
.services-content > h1 {
  color: #ff6349;
  font-size: 38px;
}
.service-description {
  width: 90%;
  color: white;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
}
.services-card-container {
  /* position: absolute; */
  margin-top: -17%;
  margin-bottom: 2%;
}
.services-card-content {
  /* border: 1px solid blue; */
  display: flex;
  flex-wrap: wrap;
  width: 82%;
  margin: 7% auto auto;
}
.services-card {
  /* border: 1px solid rgb(18, 238, 47); */
  width: 39%;
  padding: 5% 5% 2.5%;
  text-align: center;
  background-color: #f1f1f1dc;
  border: 3px solid white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.description {
  text-align: center;
  font-size: 18px;
}
.weightlifting,
.zumba {
  width: 4rem;
}

/* Media Queries */
@media only screen and (max-width: 319px) {
  .services-card {
    /* border: 1px solid rgb(18, 238, 47); */
    /* width: 39%; */
    padding: 5% 5% 2.5%;
    text-align: center;
    background-color: #f1f1f1dc;
    border: 3px solid white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 730px) {
  .services-card {
    /* border: 1px solid rgb(18, 238, 47); */
    width: 100%;
    padding: 5% 5% 2.5%;
    text-align: center;
    background-color: #f1f1f1dc;
    border: 3px solid white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
}
@media only screen and (min-width: 731px) and (max-width: 900px) {
  .services-card {
    /* border: 1px solid rgb(18, 238, 47); */
    width: 38%;
    padding: 5% 5% 2.5%;
    text-align: center;
    background-color: #f1f1f1dc;
    border: 3px solid white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
}
