.back-to-top {
  position: fixed;
  bottom: 1.5%;
  right: 2%;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 0px 0px 7px 1px;
  display: none;
  z-index: 100;
}
.back-to-top:hover {
  cursor: pointer;
}
.active {
  animation-name: slideUp;
  animation-duration: 1.2s;
  animation-timing-function: ease-in;
  display: block;
}

@keyframes slideUp {
  0%,
  50% {
    transform: translateY(100%);
    opacity: 0;
  }

  60%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
